// Accordian animation
.accordian-container {
  overflow: hidden;
  height: 0;
  transition: 0.3s;
}


// Modals scss
#root {
  .modal-overlay {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s opacity ease-in-out, 0.3s visibility 0.3s ease-in-out;
    display: flex;
    &.is-active {
      transition: 0.3s opacity ease-in-out;
      visibility: visible;
      opacity: 1;
    }
  }

  .modal {
    a {
      cursor: pointer;
    }
  }
}

// misc dropdowns
.top-nav-dropdowns {
  .popover {
    right: 0;
    top: 50px;
    z-index: 1001;
    &.search-dropdown {
      width: 240px;
    }
    &.account-dropdown {
      width: 160px;
    }

    li {
      padding: 0;
      &:hover {
        background: transparent;
      }

      &:first-child {
        a {
          padding-top: 0 !important;
        }
      }
      &:last-child {
        a {
          padding-bottom: 0 !important;
        }
      }

    }
    a {
      padding: 6px 0 !important;
      display: block;
      margin: 0 !important;
      font-weight: 400;
      text-transform: none;
      border-top: none !important;
    }
  }
}
