.dashboard-table {
  padding: 0 20px;
  -webkit-font-smoothing: auto;
}

.dashboard-view {
  -webkit-font-smoothing: auto;
}

.list-header {
  display: flex;
  width: 100%;
  flex-wrap: none;
  padding: 10px;
  background: #f2f2f2;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  align-items: center;
  li {
    font-weight: 700;
    padding: 0 5px;
  }
}

.list-row {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 10px;
  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 12px 5px;
    span {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.collapsible-list {
  li:hover, li.is-open {
    background: #fff;
  }
}

.collapsible-list-row {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 10px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
  .collapsible-list-col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 5px;
    // padding: 12px 5px;
    &.collapsible-list-icons {
      padding: 0 5px;
    }
    span {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.collapsible-list-icons {
  i {
    font-size: 22px;
    font-weight: 700;
    margin-right: 16px;
    line-height: normal;
    // color: #888;
    &:last-child {
      margin-right: 0;
    }
  }
  &.actions i {
    cursor: pointer;
  }
  .ion-android-radio-button-off {
    // font-size: 16px;
    font-size: 15px;
  }
  .ion-battery-full, .ion-battery-half, .ion-battery-low, .ion-battery-empty, .ion-battery-charging {
    // font-size: 24px;
    font-size: 22px;
  }
  .ion-edit {
    font-size: 18px;
  }
  .ion-toggle-filled, .ion-toggle {
    font-size: 32px;
  }
}

.icon {
  transition: color 0.2s ease-in-out;
}

.grid-3 {
  width: 3%;
  max-width: 3%;
}
.grid-5 {
  width: 5%;
  max-width: 5%;
}
.grid-6 {
  width: 6%;
  max-width: 6%;
}
.grid-7 {
  width: 7%;
  max-width: 7%;
}
.grid-8 {
  width: 8%;
  max-width: 8%;
}
.grid-10 {
  width: 10%;
  max-width: 10%;
}
.grid-11 {
  width: 11%;
  max-width: 11%;
}
.grid-12 {
  width: 12%;
  max-width: 12%;
}
.grid-13 {
  width: 13%;
  max-width: 13%;
}
.grid-15 {
  width: 15%;
  max-width: 15%;
}
.grid-16 {
  width: 16%;
  max-width: 16%;
}
.grid-17 {
  width: 17%;
  max-width: 17%;
}
.grid-18 {
  width: 18%;
  max-width: 18%;
}
.grid-19 {
  width: 19%;
  max-width: 19%;
}
.grid-20 {
  width: 20%;
  max-width: 20%;
}
.grid-25 {
  width: 25%;
  max-width: 25%;
}
.grid-23 {
  width: 23%;
  max-width: 23%;
}
.grid-30 {
  width: 30%;
  max-width: 30%;
}
.grid-33 {
  width: 33%;
  max-width: 33%;
}


.list-actions-dropdown {
  width: 140px;
  top: 25px;
  left: 25px;
  li {
    cursor: pointer;
    // color: #002966;
    &:hover {
      color: #0051c6;
    }
  }
  &.devices {
    width: 140px;
  }
  &.landmarks {
    width: 160px;
  }
}
