// a.is-disabled {
//   cursor: default;
//   &:hover {
//     color: #1a1a1a !important;
//   }
// }

// .menu-bar {
//   .ion-android-radio-button-off {
//     font-size: 15px;
//     line-height: 20px;
//     margin-right: 2px;
//   }
// }

// .devices-list-icons {
//   i {
//     font-size: 22px;
//     font-weight: 700;
//     margin-right: 16px;
//     line-height: normal;
//     // color: #888;
//     &:last-child {
//       margin-right: 0;
//     }
//   }
//   &.actions i {
//     cursor: pointer;
//   }
//   .ion-android-radio-button-off {
//     // font-size: 16px;
//     font-size: 15px;
//   }
//   .ion-battery-full, .ion-battery-half, .ion-battery-low, .ion-battery-empty, .ion-battery-charging {
//     // font-size: 24px;
//     font-size: 22px;
//   }
//   .ion-edit {
//     font-size: 18px;
//   }
//   .ion-toggle-filled, .ion-toggle {
//     font-size: 32px;
//   }
// }

.devices-list-details, .device-profile-section {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  div {
    text-transform: capitalize;
  }
  .details-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    .col-sm-4 {
      flex-basis: 33%;
      max-width: 33%;
      padding-right: 15px;
      &:last-child {
        padding-right: 0;
      }
    }
    h3 {
      padding-bottom: 10px;
      border-bottom: 1px solid #0051c6;
      margin-bottom: 20px;
    }
  }
  .devices-list-details-buttons {
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    button {
      margin: 0;
    }
    a {
      margin: 0 12px;
    }
  }
  i {
    font-size: 18px;
    line-height: 18px;
    margin-left: 3px;
    &.is-large {
      font-size: 15px;
      line-height: 18px;
      margin-left: 2px;
    }
  }
}

// .devices-list-map {
//   width: 100%;
//   height: calc(100% - 55px);
//   background: #ccc;
// }

.button.is-clear {
  background: transparent;
  color: $status-green-color;
  border: 1px solid $status-green-color;
  border-radius: 3px;
  transition: 0.2s border-color ease-in-out, 0.2s color ease-in-out;
  &:focus {
    outline: none !important;
  }
  &.is-red {
    color: $status-red-color;
    border-color: $status-red-color;
  }
}
