.devices-list-header {
  display: flex;
  width: 100%;
  flex-wrap: none;
  padding: 10px;
  background: #f2f2f2;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  align-items: center;
  li {
    font-weight: 700;
  }

}


.dashboard-table {
  padding: 0 20px;
}

.grid-3 {
  width: 3%;
  max-width: 3%;
}
.grid-5 {
  width: 5%;
  max-width: 5%;
}
.grid-6 {
  width: 6%;
  max-width: 6%;
}
.grid-7 {
  width: 7%;
  max-width: 7%;
}
.grid-10 {
  width: 10%;
  max-width: 10%;
}
.grid-11 {
  width: 11%;
  max-width: 11%;
}
.grid-12 {
  width: 12%;
  max-width: 12%;
}
.grid-13 {
  width: 13%;
  max-width: 13%;
}
.grid-15 {
  width: 15%;
  max-width: 15%;
}
.grid-17 {
  width: 17%;
  max-width: 17%;
}
.grid-18 {
  width: 18%;
  max-width: 18%;
}
