a.is-disabled {
  cursor: default;
  &:hover {
    color: #1a1a1a !important;
  }
}

.menu-bar {
  .ion-android-radio-button-off {
    font-size: 15px;
    line-height: 20px;
    margin-right: 2px;
  }
}

.devices-actions-dropdown {
  width: 140px;
  top: 25px;
  left: 25px;
  li {
    cursor: pointer;
    // color: #002966;
    &:hover {
      color: #0051c6;
    }
  }
}


.devices-list-header {
  display: flex;
  width: 100%;
  flex-wrap: none;
  padding: 10px;
  background: #f2f2f2;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  align-items: center;
  li {
    font-weight: 700;
    padding: 0 5px;
  }

}

.devices-list-row {
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 10px;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
    .devices-list-col {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center;
      // padding: 10px 5px;
      padding: 12px 5px;
      &.devices-list-icons {
        padding: 0 5px;
      }
      span {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
}

.dashboard-table {
  padding: 0 20px;
  -webkit-font-smoothing: auto;
}

.dashboard-view {
  -webkit-font-smoothing: auto;
}

.devices-list-icons {
  i {
    font-size: 22px;
    font-weight: 700;
    margin-right: 16px;
    line-height: normal;
    // color: #888;
    &:last-child {
      margin-right: 0;
    }
  }
  &.actions i {
    cursor: pointer;
  }
  .ion-android-radio-button-off {
    // font-size: 16px;
    font-size: 15px;
  }
  .ion-battery-full, .ion-battery-half, .ion-battery-low, .ion-battery-empty, .ion-battery-charging {
    // font-size: 24px;
    font-size: 22px;
  }
  .ion-edit {
    font-size: 18px;
  }
  .ion-toggle-filled, .ion-toggle {
    font-size: 32px;
  }
}
.grid-3 {
  width: 3%;
  max-width: 3%;
}
.grid-5 {
  width: 5%;
  max-width: 5%;
}
.grid-6 {
  width: 6%;
  max-width: 6%;
}
.grid-7 {
  width: 7%;
  max-width: 7%;
}
.grid-10 {
  width: 10%;
  max-width: 10%;
}
.grid-11 {
  width: 11%;
  max-width: 11%;
}
.grid-12 {
  width: 12%;
  max-width: 12%;
}
.grid-13 {
  width: 13%;
  max-width: 13%;
}
.grid-15 {
  width: 15%;
  max-width: 15%;
}
.grid-16 {
  width: 16%;
  max-width: 16%;
}
.grid-17 {
  width: 17%;
  max-width: 17%;
}
.grid-18 {
  width: 18%;
  max-width: 18%;
}
.grid-19 {
  width: 19%;
  max-width: 19%;
}

.devices-list-details, .device-profile-section {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  div {
    text-transform: capitalize;
  }
  .details-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    .col-sm-4 {
      flex-basis: 33%;
      max-width: 33%;
      padding-right: 15px;
      &:last-child {
        padding-right: 0;
      }
    }
    h3 {
      padding-bottom: 10px;
      border-bottom: 1px solid #0051c6;
      margin-bottom: 20px;
    }
  }
  .devices-list-details-buttons {
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    button {
      margin: 0;
    }
    a {
      margin: 0 12px;
    }
  }
  i {
    font-size: 18px;
    line-height: 18px;
    margin-left: 3px;
    &.is-large {
      font-size: 15px;
      line-height: 18px;
      margin-left: 2px;
    }
  }
}

.devices-list-map {
  width: 100%;
  // height: 185px;
  height: calc(100% - 55px);
  background: #ccc;
}

.button.is-clear {
  background: transparent;
  color: $status-green-color;
  border: 1px solid $status-green-color;
  border-radius: 3px;
  transition: 0.2s border-color ease-in-out, 0.2s color ease-in-out;
  &:focus {
    outline: none !important;
  }
  &.is-red {
    color: $status-red-color;
    border-color: $status-red-color;
  }
}

.icon {
  transition: color 0.2s ease-in-out;
}
