.normalize-flex {
  flex: initial !important;
  width: 100%;
  height: 100%;
  overflow: initial;
}

.normalize-body {
  overflow: auto;
  height: 100%;
}


.bottom-border-green-line {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: $terciary-color;
}

.blue-hr {
  width: 100%;
  height: 1px;
  background: $secondary-color;
  margin-bottom: 5px;
}

.getting-started-container {
  padding-left: 20px;
  padding-right: 20px;
  transition: color 0.2s ease;
}


.getting-started-circle {
  padding: 10px 13px;
  background: #888;
  color: #fff;
  border-radius: 50%;
  margin-right: 15px;
}

.getting-started-nav {
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  height: 100px;
  max-height: 100px;
  background: #fff;

  > a {
    transition: border-color 0.2s ease;
    align-items: center;
    justify-content: center;
    height: 75px;
    max-height: 100px;
    display: flex;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    position: relative;

    &:last-child {
      border-right: none;
    }
  }
  a.active {
    border-top: 3px solid $terciary-color;
    .getting-started-circle {
      background: $secondary-color;
    }
    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      width: 0;
      height: 0;
      border-style: solid;
    }
    &:before {
      left: 50%;
      margin-left: -6px;
      border-color: #e6e6e6  transparent transparent transparent;
      border-width: 11px;
    }

    &:after {
      left: 50%;
      margin-left: -5px;
      border-color: #fff transparent transparent transparent;
      border-width: 10px;
    }
  }

  h3 {
    margin: 0;
    font-weight: 700;
    color: #000;
  }
}

.u-is-bold {
  font-weight: 700;
}

.u-is-inline {
  display: inline-block;
}

.skip-tutorial {
  font-weight: 500;
  color: #000;
}


.getting-started-subnav {
  border-bottom: 1px solid #e6e6e6;
  flex: none;
  padding: 0;
  > div {
    padding-top: 16px;
    padding-bottom: 12px;
  }
}


.getting-started-content {
  border: 1px solid #e6e6e6;
  border-top: none;
  padding: 10px 15px;
  padding-bottom: 0;
  background: #fff;
  margin-bottom: 20px;

  > div {
    padding-bottom: 0;
  }
  // Consider to make more like mockup
  p {
    -webkit-font-smoothing: auto;
  }
}

.getting-started-side-section {
  border-right: 1px solid #e6e6e6;
  padding-right: 20px;
  width: 25%;
  position: relative;
}

.getting-started-main-section {
  padding-left: 20px;
  width: 75%;
  h1:first-child {
    margin-top: 0;
  }
  &.connection-section, &.next-steps-section {
    h3 {
      font-weight: 700;
    }
    p {
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .button {
      margin-top: 20px;
      margin-bottom: 45px;
    }
  }
}


.getting-started-device-buttons {
  display: flex;
  border: 1px solid #e6e6e6;
  > div {
    padding: 15px;
    border-right: 1px solid #e6e6e6;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
    font-weight: 700;
    -webkit-font-smoothing: auto;
    display: flex;
    flex: 1;
    justify-content: center;
    cursor: pointer;
    &:first-child {
      flex: 2;
    }
    &:last-child {
      border-right: none;
      flex: 3;
    }
    &.active {
      background: $secondary-color;
      border: 1px solid $secondary-color;
      color: #fff;
    }
  }
}

.next-step-button {
  margin-top: 25px;
}

.app-store-logo {
  display: block;
  margin-bottom: 25px;
  width: 135px;
  &.is-android {
    width: 155px;
    margin-top: -10px;
    margin-left: -10px;
  }
}

.add-account-screenshot {
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  padding: 10px;
  margin-top: 10px;
}

.getting-started-qr-code {
  height: 200px;
  margin: 40px 150px;
  margin-bottom: 55px;
  margin-right: 0;
}

.getting-started-connection-success {
  margin-top: 14px;
  display: inline-block;
}

.getting-started-footer {
  position: absolute;
  bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
  width: calc(100% - 15px);

  a {
    font-weight: 700;
    -webkit-font-smoothing: auto;
    color: $secondary-color;
    &:hover {
      color: #002966;
    }
  }
  p {
    font-weight: 700;
    -webkit-font-smoothing: auto;
    margin-bottom: 5px;
  }
}
