// Foundation CSS for Sixgill
body {
  overflow: hidden; // Removes page "bounce" when scroll to top & bottom
}

// Static Pages (Login, Account Setup, Forgot Password, Set Password)

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-menu {
  background: $primary-color;
  color: #fff;
}

.about-container {
  padding: 50px 50px 25px 50px;
}

.back-container {
  padding: 25px 50px;
}

.sixgill-logo {
  margin-bottom: 50px;
}

.sixgill-sense-logo {
  margin-bottom: 30px;
}


.about-sixgill-sense {
  font-size: 16px;
}

.static-pages .page-container {
  padding: 50px;
}

.back {
  margin: 0;
}

.back a {
  color: #fff;
}

// Controls on Wizard pages
.controls-view {
  padding: 10px 0 0 0;
  border-top: 1px solid #e6e6e6;

  .v-align {
    width: 100%;

    a:nth-child(2) {
      margin-left: auto;
    }

    a:nth-child(3) {
      margin-left: 20px;
    }
  }
}

// Green Line at the bottom of each page

.green-line {
  background: $terciary-color;
  flex: 0 0 5px;
}

// Top-bar (Logo, top level navigation links, organization selector, account menu)

.top-bar {
  flex: 0 0 50px;

  .menu-bar {
    font-weight: 700;
    text-transform: uppercase;
  }

  .menu-bar li a {
    padding: 14px 0 17px 0;
    margin: 0 18px 0 18px;
    border-top: 3px solid transparent;

    &:hover {
      background: 0 !important;
    }
  }

  .menu-bar li:hover {
    background: smartscale($primary-color, 7%);
  }

  .menu-bar .active a,
  .menu-bar .active a:hover {
    border-top: 3px solid $terciary-color;
  }

  .menu-bar li.sense-logo {
    &:hover {
      background: 0 !important;
    }

    img {
      height: 26px;
      margin: 7px 18px 0 20px;
    }

    a {
      padding: 0;
      margin: 0;
      border-top: 0;
    }
  }

  .account-icon {
    font-size: 16px;
  }
}

// Views Container
.view-container {
  background: $body-background;
}

// Secondary Menu (Overview, Events, Landmarks, Devices, Alerts)

.secondary-menu {
  flex: 0 0 41px;
  padding: 0;

  .menu-group {
    flex: 0 0 41px;
  }

  .menu-group:after {
    height: 1px;
    width: 100%;
    background: #e6e6e6;
    content:'';
    position: absolute;
    top: 40px;
    z-index: 1;
  }

  .menu-bar {
    background: none;
  }

  .menu-bar li a {
    padding: 14px 0 12px 0;
    margin: 0 20px 0 20px;
    border-bottom: 1px solid transparent;
    z-index: 2;

    &:hover {
      background: none;
      border-bottom: 1px solid $terciary-color;
    }
  }

  .navigation-items li a {
    color: $secondary-color;
    &.active {
      border-bottom: 1px solid $terciary-color;
      font-weight: 700;
    }
  }
}

// Title Wrap (Title + View Action buttons)

.title-wrap {
  h1 {
    margin-top: -2px;
    margin-bottom: 20px;
  }

  .button {
    margin-left: 20px;
  }
}

// Quick Filters

.quick-filters {
  background: none;
  margin-bottom: 20px;

  li a {
    padding: 0 0 5px 0;
    margin: 0 16px 0 16px;
    border-bottom: 1px solid transparent;
    color: $secondary-color;

    &:hover {
      background: none;
      border-bottom: 1px solid $terciary-color;
      color: $secondary-color;
    }
  }

  li:first-child a {
    margin-left: 0;
  }

  .active a {
    border-bottom: 1px solid $terciary-color;
    font-weight: 700;
  }
}

// Statistics bar & Table actions, column settings, filters button

.statistics-bar {
  margin-bottom: 20px;
  flex: 0 0 20px;

  .menu-bar {
    background: none;
  }

  li a {
    padding: 0;
    margin: 0;
  }

  svg.iconic {
    width: 12px !important;
    margin: 2px 5px 0 0;
  }

  .statistics-items {
    li {
      margin-right: 20px;
    }
  }

  .link-items {
    ul {
      overflow: hidden;
    }

    li {
      padding-left: 12px;

      &:before {
        content: '';
        border-left: 1px solid #e6e6e6;
        padding-left: 12px;
        height: 16px;
      }

      &:first-child:before {
        border-left: 0;
      }

      a {
        flex-flow: row nowrap;
      }

      a:hover {
        background: none;
        color: $secondary-color;
      }
    }

    .dropdown-arrow {
      margin-top: 1px;
    }

    .settings-icon {
      font-size: 18px;
      margin-top: -2px;
    }

    .filters-icon {
      font-size: 16px;
      margin-top: -2px;
      margin-right: 6px;
    }
  }
}

// Sidebar
.sidebar {
  flex: 0 0 170px;
  background: #f2f2f2;
  border-right: 1px solid #e6e6e6;
}

.add-new-menu {
  flex: 0 0 auto;
  padding: 15px;
  // border-bottom: 1px solid #e6e6e6;

  .button {
    margin: 0;
    width: 100%;
    text-align: left;
  }

  i {
    font-size: 12px;
    float: right;
    margin-top: 1px;
  }
}

.console-menu {
  flex: 0 0 auto;
  padding: 15px 15px 10px 15px;
  // border-top: 1px solid #e6e6e6;

  .button {
    margin: 0;
    padding: 0.5em;
    width: 100%;
    //padding: 0.6rem;
  }

  i {
    font-size: 20px;
    line-height: 1;
    vertical-align: middle;
    margin-right: 5px;
  }

  b {
    vertical-align: middle;
  }
}

// Projects Menu

.projects-menu {
  padding: 0 15px;

  ul {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
  }

  a {
    color: $body-font-color;

    &:hover {
      color: $secondary-color;
      border-bottom: 1px solid $terciary-color;
    }
  }

  .app-expanded .app-name:before {
    display: inline-block;
    font-family: $ionicons-font-family;
    content: $ionicon-var-chevron-down;
    font-size: 10px;
    width: 12px;
    text-align: center;
    vertical-align: top;
    margin-top: 3px;
    margin-right: 4px;
  }

  .app-collapsed .app-name:before {
    display: inline-block;
    font-family: $ionicons-font-family;
    content: $ionicon-var-chevron-right;
    font-size: 10px;
    width: 12px;
    text-align: center;
    vertical-align: top;
    margin-top: 3px;
    margin-right: 4px;
  }

  .app-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .app-name:hover {
    color: $secondary-color;
    cursor: pointer;
  }

  .project-item {
    margin-top: 5px;
    margin-left: 18px;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active .project-title {
      color: $secondary-color;
      border-bottom: 1px solid $terciary-color;
      font-weight: 700;
    }
  }

  .project-title {
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
  }

  .app-collapsed ul {
    display: none;
  }
}

// Dashboard View

.dashboard-view {
  padding: 20px 20px 10px 20px;
}

// Some Global styles

h1 {
  font-weight: 300;
}

label {
  font-weight: 700;

  input,
  select,
  textarea {
    font-weight: 400;
  }

  i {
    font-weight: 400;
  }

  margin-bottom: 1rem;
}

input[type="radio"] {
  margin-left: 2px;
}

select {
  cursor: pointer;
  margin: 0 0 1.5rem 0;

  &:hover {
    border: 1px solid #bbb;
  }

  &:focus {
    border: 1px solid #999;
  }
}

.no-margin {
  margin: 0;
}

.dropdown-arrow {
  margin-left: 6px;
  font-size: 10px;
}

.folder-arrow {
  font-size: 10px;
}

.title-underline {
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $secondary-color;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.large-icons {
  font-size: 48px;
}

button,
.button {
  font-weight: 700;
}

// Popovers
.popover {
  padding: 16px;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    padding: 6px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  a:hover {
    color: $secondary-color;
  }
}

.organizations-popover {
  input {
    flex: 0 0 176px;
  }

  .organizations-list {
    max-height: 300px;
    overflow-y: auto;
    width: 200px;
  }
}

// Status Colors

.status-red {
  color: $status-red-color;
}

.status-green {
  color: $status-green-color;
}

.status-orange {
  color: $status-orange-color;
}

.status-blue {
  color: $status-blue-color;
}

.status-gray {
  color: $status-gray-color;
}

// Callout

.callout {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  background-color: white;
  color: #0a0a0a;
}

.callout > :first-child {
  margin-top: 0;
}

.callout > :last-child {
  margin-bottom: 0;
}

.callout.primary {
  background-color: #d7ecfa;
  color: #0a0a0a;
}

.callout.secondary {
  background-color: #eaeaea;
  color: #0a0a0a;
}

.callout.success {
  background-color: #e1faea;
  color: #0a0a0a;
}

.callout.warning {
  background-color: #fff3d9;
  color: #0a0a0a;
}

.callout.alert {
  background-color: #f7e4e1;
  color: #0a0a0a;
}

.callout.small {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.callout.large {
  padding-top: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
}

.callout .icon {
  font-size: 20px;
  margin-right: 5px;
  line-height: 1rem;
}

// Add Events
.choose-template {
  list-style: none;
  margin: -10px 0 0 0;

  li {
    line-height: 1.4;
  }

  i {
    margin-right: 10px;
    vertical-align: middle;
  }

  a {
    color: $body-font-color;

    &:hover {
      color: $secondary-color;

      b {
        border-bottom: 1px solid $terciary-color;
      }
    }
  }

  b {
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
  }

  .active a {
    color: $secondary-color;

    b {
      border-bottom: 1px solid $terciary-color;
    }
  }
}

.box {
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 10px 15px 0 15px;
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 20px;
  cursor: pointer;

  &:nth-child(2) {
    margin-right: 0;
  }

  &:hover {
    border: 1px solid #bbb;
  }

  &.active {
    border: 1px solid $terciary-color;
  }
}

.box-wrap {
  margin-left: 0 !important;
  margin-right: 0 !important;
  justify-content: space-between;
}

// Filters
.filters-container {
  padding: 15px;
  border: 1px solid #e6e6e6;
  background: #fff;

  .filter-mode,
  .filter-actions {
    li a, li .btn-plain {
      padding: 0 0 5px 0;
      margin: 0 16px 0 16px;
      border-bottom: 1px solid transparent;
      color: $secondary-color;

      &:hover {
        background: none;
        border-bottom: 1px solid $terciary-color;
        color: $secondary-color;
      }

      &.active {
        border-bottom: 1px solid $terciary-color;
        font-weight: 700;
      }
    }

    li:first-child a, li:first-child .btn-plain {
      margin-left: 0;
    }

    .active a, .active .btn-plain {
      border-bottom: 1px solid $terciary-color;
      font-weight: 700;
    }
  }

  .filter-menu {
    margin-bottom: 15px;
  }

  .filter-actions {
    li {
      padding: 0 0 0 12px;


      a, .btn-plain {
        margin: 0;
        color: $body-font-color;
      }

      &:before {
        content: '';
        border-left: 1px solid #e6e6e6;
        padding-left: 12px;
        height: 16px;
      }

      &:first-child:before {
        border-left: 0;
      }
    }
  }

  .applied-filters {
    margin:0 0 15px 0;
    list-style: none;

    li {
      display: inline-block;
      padding-right: 6px;
    }

    li:nth-child(2) {
      padding-left: 10px;
      border-left: 1px solid #e6e6e6;
    }
  }

  li.applied-title {
    padding-right: 8px;
  }

  .remove-icon {
    font-size: 12px;
    margin-left: 2px;

    &:hover {
      color: $secondary-color;
    }
  }

  .filters-content {
    > div {
      padding: 0 1rem;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    input,
    select {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
    }

    span {
      display: inline-block;
      vertical-align: top;
      margin: 10px 15px 0 15px;
    }
  }

  .scroll-container {
    max-height: 195px;
    overflow: auto;
  }
}

.form-group {
  input,
  select {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    vertical-align: top;
    margin: 10px 15px 0 15px;
  }

  a, .btn-plain {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 0;
  }
}
