// Foundation CSS for Sixgill
body {
  overflow: hidden; // Removes page "bounce" when scroll to top & bottom
}

// Static Pages (Login, Account Setup, Forgot Password, Set Password)

.side-menu {
  background: $primary-color;
  color: #fff;

  padding: 50px;
}

.sixgill-logo {
  margin-bottom: 50px;
}

.sixgill-sense-logo {
  margin-bottom: 30px;
}


.about-sixgill-sense {
  font-size: 16px;
}

.static-pages .grid-content {
  padding: 50px;
}

.static-pages {
  label {
    font-weight: 600;
  }
}

.back {
  position: absolute;
  bottom: 20px;

  a {
    color: #fff;
  }
}

// Green Line at the bottom of each page

.green-line {
  background: $terciary-color;
  flex: 0 0 5px;
}

// Top-bar (Logo, top level navigation links, organization selector, account menu)

.top-bar {
  flex: 0 0 50px;

  .menu-bar {
    font-weight: 600;
    text-transform: uppercase;
  }

  .menu-bar li a {
    padding: 14px 0 17px 0;
    margin: 0 18px 0 18px;
    border-top: 3px solid transparent;

    &:hover {
      background: 0 !important;
    }
  }

  .menu-bar li:hover {
    background: smartscale($primary-color, 7%);
  }

  .menu-bar .active a,
  .menu-bar .active a:hover {
    border-top: 3px solid $terciary-color;
  }

  .menu-bar li.sense-logo {
    &:hover {
      background: 0 !important;
    }

    img {
      height: 26px;
      margin: 7px 18px 0 20px;
    }

    a {
      padding: 0;
      margin: 0;
      border-top: 0;
    }
  }
}

// Secondary Menu (Overview, Events, Landmarks, Devices, Alerts)

.secondary-menu {
  flex: 0 0 41px;
  padding: 0;

  .menu-group {
    flex: 0 0 41px;
  }

  .menu-group:after {
    height: 1px;
    width: 100%;
    background: #e6e6e6;
    content:'';
    position: absolute;
    top: 40px;
    z-index: -1;
  }

  .menu-bar {
    background: none;
  }

  .menu-bar li a {
    padding: 14px 0 12px 0;
    margin: 0 20px 0 20px;
    border-bottom: 1px solid transparent;

    &:hover {
      background: none;
      border-bottom: 1px solid $terciary-color;
    }
  }

  .navigation-items li a {
    color: $secondary-color;
  }

  .navigation-items .active a {
    border-bottom: 1px solid $terciary-color;
    font-weight: 600;
  }
}

// Title Wrap (Title + View Action buttons)

.title-wrap {
  h1 {
    margin-top: -2px;
    margin-bottom: 20px;
  }

  .button {
    margin-left: 20px;
  }
}

// Projects Menu

.projects-menu {
  flex: 0 0 170px;
  background: #f2f2f2;
  border-right: 1px solid #e6e6e6;
  padding: 20px;

  ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
  }
}

// Dashboard View

.dashboard-view {
  padding: 20px;
}

// Some Global styles
h1 {
  font-weight: 300;
}

.no-margin {
  margin: 0;
}
