// Foundation CSS for Sixgill
body {
  overflow: hidden; // Removes page "bounce" when scroll to top & bottom
}

// Static Pages (Login, Account Setup, Forgot Password, Set Password)

.side-menu {
  background: $primary-color;
  color: #fff;

  padding: 50px;
}

.sixgill-logo {
  margin-bottom: 50px;
}

.sixgill-sense-logo {
  margin-bottom: 30px;
}


.about-sixgill-sense {
  font-size: 16px;
}

.static-pages .grid-content {
  padding: 50px;
}

.static-pages {
  label {
    font-weight: 700;
  }
}

.back {
  position: absolute;
  bottom: 20px;

  a {
    color: #fff;
  }
}

// Green Line at the bottom of each page

.green-line {
  background: $terciary-color;
  flex: 0 0 5px;
}

// Top-bar (Logo, top level navigation links, organization selector, account menu)

.top-bar {
  flex: 0 0 50px;

  .menu-bar {
    font-weight: 700;
    text-transform: uppercase;
  }

  .menu-bar li a {
    padding: 14px 0 17px 0;
    margin: 0 18px 0 18px;
    border-top: 3px solid transparent;

    &:hover {
      background: 0 !important;
    }
  }

  .menu-bar li:hover {
    background: smartscale($primary-color, 7%);
  }

  .menu-bar .active a,
  .menu-bar .active a:hover {
    border-top: 3px solid $terciary-color;
  }

  .menu-bar li.sense-logo {
    &:hover {
      background: 0 !important;
    }

    img {
      height: 26px;
      margin: 7px 18px 0 20px;
    }

    a {
      padding: 0;
      margin: 0;
      border-top: 0;
    }
  }

  .account-icon {
    font-size: 16px;
  }
}

// Secondary Menu (Overview, Events, Landmarks, Devices, Alerts)

.secondary-menu {
  flex: 0 0 41px;
  padding: 0;

  .menu-group {
    flex: 0 0 41px;
  }

  .menu-group:after {
    height: 1px;
    width: 100%;
    background: #e6e6e6;
    content:'';
    position: absolute;
    top: 40px;
    z-index: -1;
  }

  .menu-bar {
    background: none;
  }

  .menu-bar li a {
    padding: 14px 0 12px 0;
    margin: 0 20px 0 20px;
    border-bottom: 1px solid transparent;

    &:hover {
      background: none;
      border-bottom: 1px solid $terciary-color;
    }
  }

  .navigation-items li a {
    color: $secondary-color;
  }

  .navigation-items .active a {
    border-bottom: 1px solid $terciary-color;
    font-weight: 700;
  }
}

// Title Wrap (Title + View Action buttons)

.title-wrap {
  h1 {
    margin-top: -2px;
    margin-bottom: 20px;
  }

  .button {
    margin-left: 20px;
  }
}

// Quick Filters

.quick-filters {
  background: none;
  margin-bottom: 20px;

  li a {
    padding: 0 0 5px 0;
    margin: 0 16px 0 16px;
    border-bottom: 1px solid transparent;
    color: $secondary-color;

    &:hover {
      background: none;
      border-bottom: 1px solid $terciary-color;
      color: $secondary-color;
    }
  }

  li:first-child a {
    margin-left: 0;
  }

  .active a {
    border-bottom: 1px solid $terciary-color;
    font-weight: 700;
  }
}

// Statistics bar & Table actions, column settings, filters button

.statistics-bar {
  margin-bottom: 20px;
  flex: 0 0 20px;

  .menu-bar {
    background: none;
  }

  li a {
    padding: 0;
    margin: 0;
  }

  svg.iconic {
    width: 12px !important;
    margin: 2px 5px 0 0;
  }

  .statistics-items {
    li {
      margin-right: 20px;
    }
  }

  .link-items {
    li {
      padding-left: 12px;

      &:before {
        content: '';
        border-left: 1px solid #e6e6e6;
        padding-left: 12px;
        height: 16px;
      }

      &:first-child:before {
        border-left: 0;
      }

      a {
        flex-flow: row nowrap;
      }

      a:hover {
        background: none;
        color: $secondary-color;
      }
    }

    .dropdown-arrow {
      margin-top: 1px;
    }

    .settings-icon {
      font-size: 18px;
      margin-top: -2px;
    }

    .filters-icon {
      font-size: 16px;
      margin-top: -2px;
      margin-right: 6px;
    }
  }
}

// Sidebar
.sidebar {
  flex: 0 0 170px;
  background: #f2f2f2;
  border-right: 1px solid #e6e6e6;
}

.add-new-menu {
  flex: 0 0 auto;
  padding: 15px;
  // border-bottom: 1px solid #e6e6e6;

  .button {
    margin: 0;
    width: 100%;
    text-align: left;
  }

  i {
    font-size: 12px;
    float: right;
    margin-top: 1px;
  }
}

.console-menu {
  flex: 0 0 auto;
  padding: 15px;
  // border-top: 1px solid #e6e6e6;

  .button {
    margin: 0;
    width: 100%;
    //padding: 0.6rem;
  }

  i {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0 0;
  }
}

// Projects Menu

.projects-menu {
  padding: 0 15px;

  ul {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
  }

  a {
    color: $body-font-color;

    &:hover {
      color: $secondary-color;
      border-bottom: 1px solid $terciary-color;
    }
  }

  .app-expanded .app-name:before {
    display: inline-block;
    font-family: $ionicons-font-family;
    content: $ionicon-var-chevron-down;
    font-size: 10px;
    width: 12px;
    text-align: center;
    vertical-align: top;
    margin-top: 3px;
    margin-right: 4px;
  }

  .app-collapsed .app-name:before {
    display: inline-block;
    font-family: $ionicons-font-family;
    content: $ionicon-var-chevron-right;
    font-size: 10px;
    width: 12px;
    text-align: center;
    vertical-align: top;
    margin-top: 3px;
    margin-right: 4px;
  }

  .app-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .app-name:hover {
    color: $secondary-color;
    cursor: pointer;
  }

  .project-item {
    margin-top: 5px;
    margin-left: 18px;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active .project-title {
      color: $secondary-color;
      border-bottom: 1px solid $terciary-color;
      font-weight: 700;
    }
  }

  .project-title {
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
  }

  .app-collapsed ul {
    display: none;
  }
}

// Dashboard View

.dashboard-view {
  padding: 20px;
}

// Some Global styles

h1 {
  font-weight: 300;
}

.no-margin {
  margin: 0;
}

.dropdown-arrow {
  margin-left: 6px;
  font-size: 10px;
}

.folder-arrow {
  font-size: 10px;
}

button,
.button {
  font-weight: 700;
}

// Popovers
.popover {
  padding: 16px;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    padding: 6px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  a:hover {
    color: $secondary-color;
  }
}

.organizations-popover {
  input {
    flex: 0 0 176px;
  }

  .organizations-list {
    max-height: 300px;
    overflow-y: auto;
    width: 200px;
  }
}

// Status Colors

.status-red {
  color: $status-red-color;
}

.status-green {
  color: $status-green-color;
}

.status-orange {
  color: $status-orange-color;
}

.status-blue {
  color: $status-blue-color;
}

.status-gray {
  color: $status-gray-color;
}

// Callout

.callout {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  background-color: white;
  color: #0a0a0a;
}

.callout > :first-child {
  margin-top: 0;
}

.callout > :last-child {
  margin-bottom: 0;
}

.callout.primary {
  background-color: #d7ecfa;
  color: #0a0a0a;
}

.callout.secondary {
  background-color: #eaeaea;
  color: #0a0a0a;
}

.callout.success {
  background-color: #e1faea;
  color: #0a0a0a;
}

.callout.warning {
  background-color: #fff3d9;
  color: #0a0a0a;
}

.callout.alert {
  background-color: #f7e4e1;
  color: #0a0a0a;
}

.callout.small {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.callout.large {
  padding-top: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
}

.callout .icon {
  font-size: 20px;
  margin-right: 5px;
  line-height: 1rem;
}
