.u-pointer {
  cursor: pointer;
}


.warning {
  border: 1px solid red !important;
}

label input {
  transition: border 0.3s ease;
}

.error-message {
  padding-top: 10px;
  color: red;
  font-weight: 300;
  display: block;

  &.is-large {
    padding: 7px 0;
    font-weight: 400;
    font-size: 16px;
  }
}
