.u-capitalized {
  text-transform: capitalize;
}
.u-normal-text {
  text-transform: none !important;
}
.u-uppercase {
  text-transform: uppercase;
}
.u-bold {
  font-weight: 700 !important;
}
.u-inline {
  display: inline-block;
}
.u-pointer {
  cursor: pointer;
}
.u-cursor-normal {
  cursor: default;
}
.u-margin-bottom-sm {
  margin-bottom: 10px;
}
.u-overflow-visible {
  overflow: visible !important;
}
.u-relative {
  position: relative;
}
