---
name: dashboard
url: /dashboard
---

<div class="grid-frame static-pages vertical">
  <div class="menu-group primary">
    <div class="menu-group-left">
      <ul class="menu-bar primary">
        <li class="sense-logo"><a href="#"><img src="/assets/img/sixgill-sense-logo-inverted.svg" /></a></li>
        <li class="active"><a href="#">Apps</a></li>
        <li><a href="#">Connectors</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </div>

    <div class="menu-group-right">
      <ul class="menu-bar primary icon-left">
        <li><a href="#">AT&T ▿</a></li>
        <li><a href="#"><img zf-iconic="" icon="account" size="small" class="iconic-color-primary"> ▿</a></li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content projects-menu">

    </div>

    <div class="grid-content">
      
    </div>
  </div>
  <div class="grid-block green-line"></div>
</div>
