---
name: dashboard
url: /dashboard
---

<div class="grid-frame vertical">
  <div class="menu-group top-bar primary">
    <div class="menu-group-left">
      <ul class="menu-bar primary">
        <li class="sense-logo"><a href="#"><img src="/assets/img/sixgill-sense-logo-inverted.svg" /></a></li>
        <li class="active"><a href="#">Apps</a></li>
        <li><a href="#">Connectors</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </div>

    <div class="menu-group-right">
      <ul class="menu-bar primary icon-left">
        <li><a href="#" zf-popup-toggle="organizations-dropdown">AT&T <i class="icon ion-chevron-down dropdown-arrow"></i></a>
            <zf-popup id="organizations-dropdown" class="popover organizations-popover">
              <form>
                <label>
                  <span class="inline-label">
                    <span class="form-label"><i class="icon ion-search"></i></span>
                    <input type="text" placeholder="Search Organizations">
                  </span>
                </label>
              </form>
              <ul class="organizations-list">
                <li><a href="#">AT&T</a></li>
                <li><a href="#">Sixgill</a></li>
                <li><a href="#">Verizon</a></li>
                <li><a href="#">San Francisco City</a></li>
                <li><a href="#">Los Angeles City</a></li>
              </ul>
            </zf-popup>
        </li>

        <li><a href="#" zf-popup-toggle="account-dropdown"><i class="icon ion-person account-icon"></i> <i class="icon ion-chevron-down dropdown-arrow"></i></a>
          <zf-popup id="account-dropdown" class="popover account-popover">
            <ul>
              <li><a href="#">Admin</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Getting Started</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Log out</a></li>
            </ul>
          </zf-popup>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid-block">
    <div class="grid-content projects-menu">
      <ul>
        <li class="app-folder app-expanded">
          <strong class="app-name">Demo App</strong>
          <ul>
            <li class="project-item active">
              <a href="#" class="project-title">Test</a>
            </li>
            <li class="project-item">
              <a href="#" class="project-title">Untitled-1</a>
            </li>
          </ul>
        </li>

        <li class="app-folder app-expanded">
          <strong class="app-name">Test App</strong>
          <ul>
            <li class="project-item">
              <a href="#" class="project-title">Untitled-2</a>
            </li>
          </ul>
        </li>

        <li class="app-folder app-collapsed">
          <strong class="app-name">Test App</strong>
          <ul>
            <li class="project-item">
              <a href="#" class="project-title">Untitled-2</a>
            </li>
            <li class="project-item">
              <a href="#" class="project-title">Untitled-3</a>
            </li>
            <li class="project-item">
              <a href="#" class="project-title">Untitled-4</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>

    <div class="grid-block vertical">
      <div class="grid-content secondary-menu">
        <div class="menu-group">
          <div class="menu-group-left navigation-items">
            <ul class="menu-bar condense">
              <li><a href="#">Overview</a></li>
              <li class="active"><a href="#">Events</a></li>
              <li><a href="#">Landmarks</a></li>
              <li><a href="#">Devices</a></li>
              <li><a href="#">Alerts</a></li>
            </ul>
          </div>

          <div class="menu-group-right link-items">
            <ul class="menu-bar condense">
              <li><a href="#">View API keys</a></li>
              <li><a href="#">Edit App</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="grid-content dashboard-view">
        <div class="title-wrap clearfix">
          <h1 class="float-left">Events</h1>
          <a href="#" class="button float-right no-margin">Send One-Time Action</a>
          <a href="#" class="button float-right no-margin">Add New Event</a>
        </div>

        <ul class="menu-bar quick-filters condense">
          <li class="active"><a href="#">All</a></li>
          <li><a href="#">Running</a></li>
          <li><a href="#">Disabled</a></li>
          <li><a href="#">Complete</a></li>
          <li><a href="#">Draft</a></li>
        </ul>

        <div class="menu-group statistics-bar">
          <div class="menu-group-left statistics-items">
            <ul class="menu-bar condense">
              <li><b>Total: 7 Events</b></li>
              <li><i class="icon ion-android-radio-button-off status-green"></i>&nbsp;<b>58%</b>&nbsp;Running</li>
              <li><i class="icon ion-android-radio-button-off status-red"></i>&nbsp;<b>14%</b>&nbsp;Disabled</li>
              <li><i class="icon ion-android-radio-button-off status-gray"></i>&nbsp;<b>14%</b>&nbsp;Complete</li>
              <li><i class="icon ion-android-radio-button-off status-blue"></i>&nbsp;<b>14%</b>&nbsp;Draft</li>
            </ul>
          </div>

          <div class="menu-group-right link-items">
            <ul class="menu-bar condense">
              <li><a href="#">Actions <i class="icon ion-chevron-down dropdown-arrow"></i></a></li>
              <li><a href="#"><i class="icon ion-gear-a settings-icon"></i></a></li>
              <li><a href="#"><i class="icon ion-funnel filters-icon"></i> Filters</a></li>
            </ul>
          </div>
        </div>

        <p>Table</p>
      </div>
    </div>
  </div>
  <div class="grid-block green-line"></div>
</div>
