---
name: forgot-password
url: /forgot-password
---

<div class="grid-frame static-pages vertical">
  <div class="grid-block">
    <div class="grid-content medium-4 side-menu">
      <a href="//sixgill.com"><img class="sixgill-logo" src="/assets/img/sixgill-logo-inverted.svg" /></a>
      <p class="about-sixgill-sense">Sixgill Sense is a complete platform-as-a-service solution that enables unified ingestion and processing of sensor data for the rapid and uniform development of enterprise applications.
  With advanced proximity services, real-time dashboards, and a massively scalable architecture, the Sense Platform produces actionable, context-enriched insights for sensor and location data.</p>
      <p class="back"><a href="//sixgill.com">← Back to sixgill.com</a></p>
    </div>

    <div class="grid-content">
      <a href="//sense.sixgill.com"><img class="sixgill-sense-logo" src="/assets/img/sixgill-sense-logo.svg" /></a>
      <h1>Forgot Password?</h1>
      <br />
      <form class="medium-6">
        <p>Enter your e-mail address and instructions to reset your password will be sent to you.</p>

        <label>E-mail address
          <input type="email">
        </label>

        <br />
        <div class="v-align">
          <a href="#" class="float-left no-margin">Return to Log In</a>
          <a href="#" class="button float-right no-margin">Reset Password</a>
        </div>
      </form>
      <!-- Needs importing of _callout from Foundation Sites
      <div class="callout primary-color">
        <p>Success. We have sent you an e-mail with details.</p>
      </div> !-->
    </div>
  </div>
  <div class="grid-block green-line"></div>
</div>
