---
name: home
url: /
---

<div class="grid-frame vertical">
  <div class="grid-content shrink" style="padding: 0;">
    <ul class="primary condense menu-bar">
      <li><a><strong>Sense UI &mdash; CSS Framework</strong></a></li>
    </ul>
  </div>

  <div class="grid-block">
    <div class="grid-container medium-8">
      <br />
      <br />
      <h2>List of Pages / Views</h2>
      <ul>
        <li><a href="#" ui-sref="kitchen-sink">Kitchen Sink &mdash; Components Examples</a></li>
        <br />
      </ul>
      <h2>Static Login Pages</h2>
        <ul>
          <li><a href="#" ui-sref="login">Login</a></li>
          <li><a href="#" ui-sref="account-setup">Account Setup</a></li>
          <li><a href="#" ui-sref="forgot-password">Forgot Password</a></li>
          <li><a href="#" ui-sref="set-password">Set Password</a></li>
          <br />
        </ul>
      <h2>Dashboard Views / Pages</h2>
        <ul>
          <li><a href="#" ui-sref="events">Events</a></li>
          <li><a href="#" ui-sref="add-event-create">Add New Event / 1. Create New Event</a></li>
          <li><a href="#" ui-sref="devices">Devices</a></li>
          <li><a href="#" ui-sref="add-new-device">Add New Device</a></li>
          <li><a href="#" ui-sref="filters-quick">Filters / Quick Filters</a></li>
          <li><a href="#" ui-sref="filters-advanced">Filters / Advanced Filters</a></li>
        </ul>
    </div>
  </div>
</div>
