---
name: home
url: /
title: Dashboard
---
<div class="grid-frame vertical">
  <div class="grid-content shrink" style="padding: 0;">
    <ul class="primary condense menu-bar">
      <li><a><strong>Foundation CSS Framework for Sixgill</strong></a></li>
    </ul>
  </div>

  <div class="grid-block">
    <div class="grid-container medium-8">
      <br />
      <br />
      <h2>List of Pages / Views</h2>
      <ul>
        <li><a href="#" ui-sref="home">Home <i>(This page)</i></a></li>
        <li><a href="#" ui-sref="kitchen-sink">Kitchen Sink</a></li>
        <li><a href="#" ui-sref="login">Login</a></li>
      </ul>
    </div>
  </div>
</div>
