---
name: kitchen-sink
url: /kitchen-sink
---
<div class="grid-frame vertical">
  <div class="grid-content">

    <div class="grid-block">
      <div class="grid-container medium-10">
        <br />
        <br />
        <h1><b>Kitchen Sink</b></h1>
        <br />
        <h5><b>For Full Framework Documentation see: <a href="http://foundation.zurb.com/apps/docs/"><i class="icon ion-link"></i> Foundation for Apps Documentation</a></b></h5>
        <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Headings</b></h2>

<!-- Headings -->

        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h3 class="title-underline">Heading 3, class: "title-underline"</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>

<!-- End Headings -->

        <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Grid</b></h2>

        <h5><a href="http://foundation.zurb.com/apps/docs/#!/grid"><i class="icon ion-link"></i> Look at Foundation Grid Documentation & Examples</a></h5>

          <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Icons</b></h2>

        <h5><a href="http://ionicons.com/"><i class="icon ion-link"></i> Use Ionicons page for Icon preview & Search</a></h5>

          <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Forms</b></h2>

<!-- Forms -->

        <form>
          <label>
          Input Label
          <input type="text" placeholder="Text field">
          </label>
          <div class="grid-block">
            <div class="small-12 medium-6 grid-content">
            <label>
            Input Label
            <input type="text" placeholder="Text field">
            </label>
            </div>
            <div class="small-12 medium-6 grid-content">
            <label>Select Label</label>
            <select name="" id="">
            <option value="">Breakfast</option>
            <option value="">Bacon Pancakes</option>
            <option value="">Mountain Dew</option>
            <option value="">Scrambled eggs with grilled zucchini, spinach, leeks, roasted tomatoes and mozzarella</option>
            </select>
            </div>
            <div class="small-12 medium-6 grid-content">
            <label>
            Prefix/postfix
            <span class="inline-label">
            <span class="form-label">www.</span>
            <input type="text">
            <span class="form-label">.com</span>
            </span>
            </label>
            </div>
            <div class="small-12 medium-6 grid-content">
            <label>
            Search
            <span class="inline-label">
            <input type="search" placeholder="Search a thing">
            <a href="#" class="button">Search</a>
            </span>
            </label>
            </div>
            <div class="small-12 medium-6 grid-content">
            <label>Choose Your Favorite</label>
            <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
            <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
            </div>
            <div class="small-12 medium-6 grid-content">
            <label>Check these out</label>
            <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
            <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
            </div>
            <div class="small-12 medium-6 grid-content">
              <br />
              <h5><b>Switch (small | default | large)</b></h5>
              <div class="switch small">
                <input type="checkbox" id="switch-example">
                <label for="switch-example"></label>
              </div>
              <div class="switch">
                <input type="checkbox" id="switch-example2">
                <label for="switch-example2"></label>
              </div>
              <div class="switch large">
                <input type="checkbox" id="switch-example3">
                <label for="switch-example3"></label>
              </div>
            </div>
            <div class="small-12 medium-6 grid-content">
              <br />
              <h5><b>Range slider</b></h5>
              <input type="range">
            </div>
          </div>

<!-- End Forms -->

          <br /><br />
        </form>
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Buttons</b></h2>

<!-- Buttons -->

        <div class="grid-block">
          <div class="small-12 medium-6 grid-content">
            <h5><b>Colors</b></h5>
            <a class="button" href="#">Primary Color</a>
            <a class="secondary button" href="#">Secondary Color</a>
          </div>

          <div class="small-12 medium-6 grid-content">
            <h5><b>Hollow Buttons</b></h5>
            <a href="#" class="hollow button">Hollow Button</a>
            <a href="#" class="alert hollow button">Hollow Alert Button</a>
            <a href="#" class="success hollow button">Hollow Success Button</a>
          </div>

          <div class="small-12 medium-6 grid-content">
            <h5><b>Sizes</b></h5>
            <a class="tiny button" href="#">Tiny Button</a>
            <a class="small button" href="#">Small Button</a>
            <a class="button" href="#">Default Button</a>
            <a class="large button" href="#">Large Button</a>
            <a class="expand button" href="#">Expand Button</a>
          </div>

          <div class="small-12 medium-6 grid-content">
            <h5><b>Icons & Spinner</b></h5>
            <a class="button" href="#">Spinner Button <span class="spinner"></span></a>
            <a class="secondary button" href="#">Icon Button <span class="icon ion-android-hand"></span></a>
            <br />
            <h5>Standalone Spinner</h5>
            <span class="spinner"></span>
          </div>

        </div>

<!-- End Buttons -->

        <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Labels & Badges</b></h2>

<!-- Labels & Badges -->

        <div class="grid-block">
          <div class="small-12 medium-6 grid-content">
            <h5><b>Labels</b></h5>
            <span class="label">Default Label</span>
            <span class="success label">Success Label</span>
            <span class="alert label">Alert Label</span>
            <span class="warning label">Warning Label</span>
            <span class="tag label">Tag Label</span>
          </div>

          <div class="small-12 medium-6 grid-content">
            <h5><b>Badges</b></h5>
            <span class="badge">1</span>
            <span class="secondary badge">2</span>
            <span class="success badge">3</span>
            <span class="alert badge">A</span>
            <span class="warning badge">B</span>
            <span class="dark badge">C</span>
          </div>
        </div>

<!-- End Labels & Badges -->

        <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Callouts</b></h2>

    <!-- Callouts -->

        <div class="grid-block">
          <div class="small-12 medium-6 grid-content">

            <div class="callout primary">
              <h5><b>This is a Primary callout.</b></h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
              <a href="#">It's dangerous to go alone, take this.</a>
            </div>

            <div class="callout secondary">
              <h5><b>This is a Secondary callout.</b></h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
              <a href="#">It's dangerous to go alone, take this.</a>
            </div>

            <div class="callout success">
              <h5><b>This is a Primary callout.</b></h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
              <a href="#">It's dangerous to go alone, take this.</a>
            </div>

          </div>

          <div class="small-12 medium-6 grid-content">

            <div class="callout warning">
              <h5><b>This is a Warning callout.</b></h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
              <a href="#">It's dangerous to go alone, take this.</a>
            </div>

            <div class="callout alert">
              <h5><b>This is an Alert callout.</b></h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
              <a href="#">It's dangerous to go alone, take this.</a>
            </div>

          </div>


        </div>

    <!-- End Callouts -->

        <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Top Level Navigation</b></h2>

<!-- Top Level Navigation -->

        <div class="menu-group top-bar primary">

<!-- Left side items -->
          <div class="menu-group-left">
            <ul class="menu-bar primary">
              <li class="sense-logo"><a href="#"><img src="/assets/img/sixgill-sense-logo-inverted.svg"></a></li>
              <li><a href="#" class="active">Apps</a></li>
              <li><a href="#">Connectors</a></li>
              <li><a href="#">Security</a></li>
            </ul>
          </div>
<!-- End Left side items -->

<!-- Right side items -->
          <div class="menu-group-right">
            <ul class="menu-bar primary icon-left">
              <li><a href="#" >AT&amp;T <i class="icon ion-chevron-down dropdown-arrow"></i></a>
                  <div class="popover organizations-popover popup ng-isolate-scope">
                    <form>
                      <label>
                        <span class="inline-label">
                          <span class="form-label"><i class="icon ion-search"></i></span>
                          <input type="text" placeholder="Search Organizations">
                        </span>
                      </label>
                    </form>
                    <ul class="organizations-list">
                      <li><a href="#">AT&amp;T</a></li>
                      <li><a href="#">Sixgill</a></li>
                      <li><a href="#">Verizon</a></li>
                      <li><a href="#">San Francisco City</a></li>
                      <li><a href="#">Los Angeles City</a></li>
                    </ul>
                  </div>
              </li>

              <li><a href="#"><i class="icon ion-person account-icon"></i> <i class="icon ion-chevron-down dropdown-arrow"></i></a>
                <div class="popover account-popover popup">
                  <ul class="ng-scope">
                    <li><a href="#">Admin</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Log out</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
<!-- End Right side items -->

        </div>

<!-- End Top Level Navigation -->

        <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Secondary Menu</b></h2>

        <div class="grid-block vertical">

<!-- Secondary Menu (Note it needs "vertical" class next to grid-block on parent!) -->

          <div class="grid-content secondary-menu">
              <div class="menu-group">
                <div class="menu-group-left navigation-items">
                  <ul class="menu-bar condense">
                    <li><a href="#">Item</a></li>
                    <li class="active"><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                  </ul>
                </div>

                <div class="menu-group-right link-items">
                  <ul class="menu-bar condense">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                  </ul>
                </div>
              </div>
            </div>

<!-- End Secondary Menu -->

        </div>
        <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Boxes</b></h2>

<!-- Boxes -->

        <div class="grid-block box-wrap">
          <div class="box active">
            <h6><b><i>Default (2 boxes) -- Active Box</i></b></h6>
            <p>Define when a device enters a location and action that will take place.</p>
          </div>
          <div class="box">
            <h6><b><i>Box 2</i></b></h6>
            <p>When a device leaves a specified location what action will be triggered.</p>
          </div>
          <div class="box">
            <h6><b><i>Box 3</i></b></h6>
            <p>When a device stays in a specific location for a certain amount of time an action will be triggered.</p>
          </div>
        </div>

        <div class="grid-block box-wrap three-boxes">
          <div class="box active">
            <h6><b><i>Three Boxes -- Active Box</i></b></h6>
            <p>Define when a device enters a location and action that will take place.</p>
          </div>
          <div class="box">
            <h6><b><i>Box 2</i></b></h6>
            <p>When a device leaves a specified location what action will be triggered.</p>
          </div>
          <div class="box">
            <h6><b><i>Box 3</i></b></h6>
            <p>When a device stays in a specific location for a certain amount of time an action will be triggered.</p>
          </div>
        </div>

<!-- End Boxes -->

        <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Title Wrap</b></h2>

<!-- Title Wrap -->

        <div class="title-wrap clearfix">
            <h1 class="float-left">Title</h1>

<!-- Right side items (optional) -->

            <a href="#" class="button float-right no-margin">Second Button</a>
            <a href="#" class="button float-right no-margin">Button</a>

<!-- End Right side items -->

          </div>

<!-- End Title Wrap -->

          <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Quick Filters Menu Bar</b></h2>

<!-- Quick Filters -->

        <ul class="menu-bar quick-filters condense">
          <li class="active"><a href="#">Active Item</a></li>
          <li><a href="#">Item</a></li>
          <li><a href="#">Item</a></li>
          <li><a href="#">Item</a></li>
        </ul>

        <br />

        <ul class="menu-bar quick-filters condense">
          <li class="active"><a href="#">1. Active Item</a></li>
          <li><a href="#">2. Item</a></li>
          <li><a href="#">3. Item</a></li>
          <li><a href="#">4. Item</a></li>
        </ul>

<!-- End Quick Filters -->
        <br /> <br />

      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Statistics Bar</b></h2>

<!-- Statistics Bar -->

        <div class="menu-group statistics-bar">
          <div class="menu-group-left statistics-items">
            <ul class="menu-bar condense">
              <li><b>Total: 20 Devices</b></li>
              <li><i class="icon ion-android-radio-button-off status-green"></i>&nbsp;<b>58%</b>&nbsp;Active</li>
              <li><i class="icon ion-android-radio-button-off status-red"></i>&nbsp;<b>14%</b>&nbsp;Disabled</li>
              <li><i class="icon ion-android-radio-button-off status-gray"></i>&nbsp;<b>14%</b>&nbsp;Unregistered</li>
            </ul>
          </div>

          <div class="menu-group-right link-items">
            <ul class="menu-bar condense">
              <li><a href="#">Actions <i class="icon ion-chevron-down dropdown-arrow"></i></a></li>
              <li><a href="#"><i class="icon ion-gear-a settings-icon"></i></a></li>
              <li><a href="#"><i class="icon ion-funnel filters-icon"></i> Filters</a></li>
            </ul>
          </div>
        </div>

<!-- End Statistics Bar -->

          <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Notifications</b></h2>

    <!-- Notifications -->

        <div class="grid-block">
          <div class="small-12 medium-6 grid-content">

            <div class="notification primary">
              <h5 class="notification-title">This is a Primary Notification.</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
              <a class="button float-right no-margin" href="#">Alright</a>
            </div>

            <div class="notification secondary">
              <h5 class="notification-title">This is a Secondary Notification.</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
              <a href="#">It's dangerous to go alone, take this.</a>
            </div>

            <div class="notification success">
              <h5 class="notification-title">This is a Sucess Notification.</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
              <a href="#">It's dangerous to go alone, take this.</a>
            </div>

          </div>

          <div class="small-12 medium-6 grid-content">

            <div class="notification warning">
              <h5 class="notification-title">This is a Warning Notification.</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
              <a href="#">It's dangerous to go alone, take this.</a>
            </div>

            <div class="notification alert">
              <h5 class="notification-title">This is an Alert Notification.</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
              <a href="#">It's dangerous to go alone, take this.</a>
            </div>

          </div>


        </div>

    <!-- End Notifications -->

        <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>List</b></h2>

    <!-- List -->

        <div class="grid-block">
          <div class="small-12 medium-6 grid-content">

            <ul class="list">
              <li>
                <strong>List Title</strong>
              </li>
              <li>
                <a class="list-link" href="#">Link</a>
              </li>
              <li>
                <a href="#" class="list-link is-active">Active Link</a>
              </li>
              <li>
                <span>Item</span>
              </li>
              <li>
                <span class="is-active">Active Item</span>
              </li>
            </ul>

          </div>

          <div class="small-12 medium-6 grid-content">

            <ul class="list">
              <li>
                <strong>List w/ Optional icons on hover</strong>
              </li>
              <li>
                <a class="list-icon-link" href="#">
                  <span class="icon ion-gear-a"></span>
                </a>
                <a class="list-link" href="#">Link</a>
              </li>
              <li>
                <a class="list-icon-link" href="#">
                  <span class="icon ion-gear-a"></span>
                </a>
                <a href="#" class="list-link is-active">Active Link</a>
              </li>
              <li>
                <a class="list-icon-link" href="#">
                  <span class="icon ion-gear-a"></span>
                </a>
                <span>Item</span>
              </li>
              <li>
                <a class="list-icon-link" href="#">
                  <span class="icon ion-gear-a"></span>
                </a>
                <span class="is-active">Active Item</span>
              </li>
              <li>
                <a class="list-icon-link" href="#">
                  <span class="icon ion-gear-a"></span>
                </a>
                <span>Item</span>
              </li>
              <li>
                <a class="list-icon-link" href="#">
                  <span class="icon ion-gear-a"></span>
                </a>
                <a class="list-link" href="#">Link</a>
              </li>
              <li>
                <a class="list-icon-link" href="#">
                  <span class="icon ion-gear-a"></span>
                </a>
                <span>Item</span>
              </li>
              <li>
                <a class="list-icon-link" href="#">
                  <span class="icon ion-gear-a"></span>
                </a>
                <a class="list-link" href="#">Link</a>
              </li>
              <li>
                <a class="list-icon-link" href="#">
                  <span class="icon ion-gear-a"></span>
                </a>
                <a class="list-link" href="#">Link</a>
              </li>
            </ul>

          </div>
        </div>

    <!-- List -->

        <br /><br />
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-container medium-10">
        <h2 class="title-underline"><b>Popover</b></h2>

<!-- Popover -->

        <a href="#">Trigger <i class="icon ion-chevron-down dropdown-arrow"></i></a>
          <div class="popover popup" style="opacity:1; pointer-events:auto;">
            <ul>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
            </ul>
          </div>

<!-- End Popover -->

          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>

    <div class="padding-bottom:300px; display:block;">&nbsp;</div>

  </div>
</div>
