---
name: login
url: /login
---

<div class="grid-frame static-pages vertical">
  <div class="grid-block">
    <div class="grid-block medium-4 vertical side-menu">
      <div class="grid-content about-container">
        <a href="//sixgill.com"><img class="sixgill-logo" src="/assets/img/sixgill-logo-inverted.svg" /></a>
        <p class="about-sixgill-sense">Sixgill Sense is a complete platform-as-a-service solution that enables unified ingestion and processing of sensor data for the rapid and uniform development of enterprise applications.
  With advanced proximity services, real-time dashboards, and a massively scalable architecture, the Sense Platform produces actionable, context-enriched insights for sensor and location data.</p>
      </div>
      <div class="grid-content shrink back-container">
        <p class="back"><a href="//sixgill.com">← Back to sixgill.com</a></p>
      </div>
    </div>

    <div class="grid-content page-container">
      <a href="//sense.sixgill.com"><img class="sixgill-sense-logo" src="/assets/img/sixgill-sense-logo.svg" /></a>
      <h1>Log In</h1>
      <br />
      <form class="medium-6">
        <label>E-mail address
          <input type="text">
        </label>

        <label>Password
          <input type="password">
        </label>
        <br />
        <div class="v-align">
          <a href="#" class="float-left no-margin">Forgot Password?</a>
          <a href="#" class="button float-right no-margin">Log In</a>
        </div>
      </form>
      <div class="medium-6">
        <hr>
        <p><strong>Need a Sixgill Sense Account?</strong>
        <br />
        <a href="//sixgill.com/developers/">Sign up to our Developer Program</a>
        </p>
      </div>
    </div>
  </div>
  <div class="grid-block green-line"></div>
</div>
